/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Ubuntu', BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

#root {
  width: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  padding: 0 10%;
  width: 100%;
  box-sizing: border-box;
}

.container-fluid {
  display: flex;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.btn {
  background-image: linear-gradient(to right, #6888FD, #5CB978);
  padding: 10px 14px;
  font-size: 0.9em;
  border: none;
  color: rgb(255, 255, 255);
  font-family: 'Roboto';
  font-weight: 400;
  cursor: pointer;
}


nav {
  padding: 20px 10%;
  display: flex;
  color: #000;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.brand {
  flex: 50%;
  display: flex;
  align-items: center;
}
.brand h1 {
  margin: 0;
  font-size: 2em;
  font-family: 'Roboto';
  font-weight: 700;
}
.menu {
  flex: 1;
}
.menu div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0 6px auto;
}

.nav-transition-enter {
  opacity: 0;
  transition: 300ms;
}

.nav-transition-enter-active {
  opacity: 1;
}

.nav-transition-exit {
  opacity: 0;
  transition: 300ms;
}

.nav-links {
  display: none;
  flex: 100%;
}

.nav-links ul {
  margin: 20px 0 0;
  padding: 0;
}

.nav-links ul li {
  list-style: none;
  margin-bottom: 10px;
}

.nav-links ul li:hover {
  color: #6886FD;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  overflow: hidden;
  padding: 0;
  z-index: 2;
}

.dropdown-content a {
  display: block;
  background-color: #fff;
  padding: 12px 16px;
  margin: -1px;
  border: 1px solid #D9D9D9;
  color: #000;
}

/* Haeader */
header {
  height: 45vmax;
  width: fit-content;
  background-size: cover;
  background-repeat: no-repeat; /* Do not repeat the image */
  position: relative;
  align-items: center;
}
header:before {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #6888FD, #5CB978);
  opacity: 0.5;
}
.jumbotron {
  flex: 1;
  height: 100%;
  padding: 13% 0 13% 5%;
  width: 100%;
  box-sizing: border-box;
}
.jumbotron h1, p, button {
  float: right;
  color: #fff;
  position: relative;
  z-index: 1;
  text-align: right;
  font-family: 'Ubuntu';
  font-weight: 700;
}

.jumbotron h1 {
  font-size: 5vmax;
  margin: 0;
  margin-bottom: 20px;
}

.jumbotron p {
  font-size: 2vmax;
  margin-bottom: 15px;
}

.jumbotron p, button {
  font-family: 'Roboto';
  font-weight: 400;
}
/* End of Header */

/* About */
.about {
  flex-wrap: wrap;
  background-color: #6886FD;
}

.about img {
  width: 100%;
  flex: 100%;
}

.about .content {
  width: 100%;
  padding: 40px 10%;
}

.about .content h1 {
  color: #fff;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 1.6em;
  margin-bottom: 20px;
}

.about .content p {
  text-align: left;
  font-family: 'Roboto';
  font-size: 1em;
  font-weight: 300;
  color: #fff;
  line-height: 25px;
  margin-bottom: 30px;
}

.about .content .btn {
  float: left;
  padding: 5px 20px;
}

@media (min-width: 641px) {
  .brand {
    flex: 1;
  }
  .menu {
    display: none;
  }
  .nav-transition-enter {
    opacity: 1;
    transition: 300ms;
  }

  .nav-transition-exit {
    display: flex;
  }
  .nav-links {
    display: flex !important;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }
  .nav-links ul {
    float: right;
    margin: 0;
    padding: 0;
  }
  .nav-links ul li {
    display: inline-block;
    margin: 0 20px;
  }

  header {
    height: 90vh;
  }
  .jumbotron {
    padding-left: 20%;
  }
  .jumbotron h1 {
    font-size: 13vh;
  }

  .jumbotron p {
    font-size: 3vh;
  }

  .jumbotron button {
    padding: 20px 28px;
    font-size: 3vh;
  }

  .about {
    flex-wrap: nowrap;
  }

  .about img {
    flex: 1;
    width: 50%;
    object-fit: cover;
    object-position: center;
  }

  .about .content {
    flex: 1;
    padding: 10% 10% 10% 7%;
    box-sizing: border-box;
  }

  .about .content h1 {
    font-size: 3em;
    margin-bottom: 40px;
  }

  .about .content p {
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 30px;
  }

  .about .content button.btn {
    padding: 15px 30px;
  }
}